extends base.pug

block content 
  form(method="POST")
    input(name="title", placeholder="Video Title", value=video.title, required)
    input(name="description", placeholder="Description", value=video.description, maxlength=140, required)
    input(name="hashtags", placeholder="Hashtags, separated by comma", value=video.hashtags.join(), required)
    input(value="Save", type="submit") 